{% extends "index.html" %}
    {% load static %}
    
    {% block title %} ABOUT {% endblock %}
    
{% block content %}
<body>
    <h4 style="color:bisque ">Los lideres de el proyecto son Alejandro Giorgio y Alesis Barttoleti
    Webproject es un proyecto por el cual se busca que se pasageros/as, usuarios/as y propietarios/as de automoviles, puedan registrarse para generar una base datos de contacto, a fines de poder coordinar viajes y reducir gastos en base al principio de la cooperacion comun. Se busca a futuro incorporar procesos de onboarding rigurosos a fines de garantizar la seguridad y la fidelidad de los usuarios de WebProject con el fin de generar una aplicacion de calidad, asi como aplicativos web para poder generar de forma automatica los viajes</h4>
</body>
</html>
{% endblock %} 