<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/myestilo.css'%}">
   
    <title>AppProject</title>
</head>
<body>
  
  <!--<a class="btn btn-success" href="/AppProject/read_user">Interfaz de la webpage</a>-->



  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <!-- Links -->
    <div class="navbar-collapse collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100">
        <li class="nav-item">
          <a class="nav-link" href="/AppProject/read_passenger">Agregar usuario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/AppProject/create_driver">Agregar conductor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/AppProject/create_movile">Agregar vehiculo</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/AppProject/read_passenger">Delete & Edith</a>
        </li>
        <li>
          <form class="formDataUser" action="/AppProject/search_user" method="GET">
            <input type="email" name="email" placeholder="email">
            <button type="submit" class="btn btn-primary btndj">Buscar usuario/a</button>
        </form>
    </div>
    <div>
        {% if passengers %}
        <ul>
            {% for passenger in passengers %}
            <li>{{passenger.name}}</li>
            <li>{{passenger.lastName}}</li>
            <li>{{passenger.email}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        </li>
        {% if not request.user.is_authenticated %}
        <li class="nav-item">
          <a class="btn btn-outline-success my-2 my-sm-0 d-flex" href="/AppProject/login">INICIAR</a>
        {% endif %}
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item" id="estiloMensajeLogin">
          <p class=""> Hola, {{user.username}}</p>
        {% endif %}
        </li>
        <li class="nav-item" style="position: absolute; right: 250px">
          <img src="/AppProject/static/assets/avatar.jpg" width="40px">
      </li>
      </ul>
    </div>
  </nav>

  

<div>

  {% if request.user.is_authenticated %}
  <a href="/AppProject/profile/editUser" class="btn btn-danger" id="estiloBotonesEditarPerf">EDITAR PERFIL</a>
  <a class="btn btn-success" href="/AppProject/profile/addAvatar">Cambiar imagen de perfil</a>
  {% endif %}

</div>

</body>
</html>