*{
    margin: 0;
    padding: 0; 
}
  
html {
    font-size: 100%;
    font-family: 'Oswald', sans-serif; }
  
body{
      background-position: center center;
      background-size: cover;

    }

#colorLegend{
    color: brown;
    font-size: 75px;
    font-style: oblique;
    font-weight: bold;
}
 
#estiloMensajeLogin{
    color: aliceblue;
    z-index:inherit;
}
#estiloBotonesEditarPerf{
margin-left: 35%;
}


