{% extends "index.html" %}
    {% load static %}
    
    {% block title %} REGISTRAR CONDUCTOR {% endblock %}

{% block content %}
<div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="well well-sm">
                    <form class="form-horizontal , formDataDrivers" method="POST" action="/AppProject/create_driver/"> {% csrf_token %}
                        <fieldset>
                            <legend class="text-center header" id="colorLegend">Registrar Conductor</legend>
    
                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                                <div class="col-md-12">
                                    <input id="text" name="name" type="text" placeholder="Nombre" class="form-control">
                                </div>
                                <br>
                            </div>
                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                                <div class="col-md-12">
                                    <input id="text" name="lastName" type="text" placeholder="Apellido" class="form-control">
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                                <div class="col-md-12">
                                    <input id="email" name="email" type="text" placeholder="Email" class="form-control">
                                </div>
                                <br>
                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                                    <div class="col-md-12">
                                        <input id="number" name="registry" type="text" placeholder="Id Conductor" class="form-control">
                                </div>
                            </div>
                        </div>
                            <br>
                            <div class="form-group">
                                <div class="row-cols-md-6 text-center">
                                    <button type="submit" class="btn btn-primary btn-lg">Registrar</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 


 
