<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <title>USER</title>
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/ ">HOME</a>
        </li>
      </ul>
  </nav>
  

{% for users in user %}
    <li>
        {{users}}
        <a href="/AppProject/update_user/{{users.id}}" class="btn btn-warning">Edith</a>
        <a href="/AppProject/delete_user/{{users.id}}" class="btn btn-danger">Delete</a>
    </li>
{% endfor %}
</body>

</html>

